<!DOCTYPE html>
<html>
  <head>
    <title>Roubos</title>
    <style>
      * {
        padding: 0px;
        margin: 0px;
      }

      body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
      }

      input[type=range].years {
        width: 100%;
      }

      datalist.years {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }

      #map-container {
        display: flex;
        flex-direction: column;
      }

      #map-controls {
        width: 80%;
        align-self: center;
      }

      #map {
        height: 500px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map-container">
      <div id="map"></div>
      <div id="map-controls" hidden>
        <input type="range" min="0" max="1" list="years" class="years">
        <datalist id="years" class="years">
        </datalist>
      </div>
    </div>

    <script>
      async function fetchHoodJSON() {
        const response = await fetch('/hood');
        const hood = await response.json();
        return hood;
      }

      async function fetchRobberyJSON() {
        const response = await fetch('/robbery');
        const robbery = await response.json();
        return robbery;
      }

      function updateFeatures(map, features, robberyData, year) {
        for (feature of features) {
          let robberyByHood = robberyData[year];
          let hoodName = feature.getProperty('Bairro');
          let value = robberyByHood[hoodName];

          if (typeof(value) !== 'number') {
            console.warn(`The neighborhood ${hoodName} couldn't be found inside data`);
          }

          feature.setProperty('Domain', 'robbery');
          feature.setProperty('Value', value || 0);
        }

        let maxValue = 0
        let avgValue = 0
        for (let feature of features) {
          maxValue = Math.max((feature.getProperty('Value') || 0), maxValue);
          avgValue += feature.getProperty('Value');
        }
        avgValue /= features.length;

        let varianceValue = features.map(f => f.getProperty('Value')).reduce((total, cur) => total + Math.pow(cur - avgValue, 2), 0) / (features.length - 1);
        let stdValue = Math.sqrt(varianceValue);

        for (let feature of features) {
          feature.setProperty('NormalizedValue', (feature.getProperty('Value') - avgValue) / stdValue)
        }

        map.data.setStyle((feature) => ({
          strokeColor: "black",
          strokeWeight: .5,
          fillColor: 'red',
          fillOpacity: (Math.tanh(feature.getProperty('NormalizedValue') || 0) * .5 + .5) * 0.75
          // fillOpacity: Math.log(feature.getProperty('NormalizedValue') + 1)
        }))

        window.features = features;
      }

      // Initialize and display the map
      function initMap() {
        // Maceió bounds
        let selectedCityBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(-9.722334881080501, -35.818859918457036), // southwest corner
          new google.maps.LatLng(-9.46099520993466, -35.541455133300786) // northeast corner
        )

        // Set the location to display on the map
        var location = selectedCityBounds.getCenter()

        // Create a new map object centered on the location
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: location,
          mapTypeControl: false,
          streetViewControl: false,
          styles: [
            {
              "elementType": "labels",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "administrative",
              "elementType": "geometry",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "administrative.land_parcel",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "administrative.neighborhood",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "poi",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "labels.icon",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "transit",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            }
          ]
        });

        let featuresPromise = fetchHoodJSON().then(hoods => {
          hoods.features = hoods.features.filter(feature => {
            return !feature.geometry.coordinates.some(coords => {
              return coords.some(coord => {
                let point = {lat: coord[1], lng: coord[0]}
                return !selectedCityBounds.contains(point);
              })
            })
          })
          let features = map.data.addGeoJson(hoods)
          return features;
        });

        fetchRobberyJSON().then(async robberyData => {
          const years = Object.keys(robberyData).sort();
          const yearsInput = document.querySelector('input.years');
          const yearsDataList = document.querySelector('datalist.years');

          yearsInput.setAttribute('min', years[0].toString());
          yearsInput.setAttribute('max', years[years.length-1].toString());
          yearsInput.value = yearsInput.getAttribute('max');

          while(yearsDataList.firstChild) {
            yearsDataList.removeChild(yearsDataList.firstChild);
          }

          for (let year of years) {
            const newOption = document.createElement('option');
            newOption.value = newOption.label = year;
            yearsDataList.appendChild(newOption);
          }

          let features = await featuresPromise;

          yearsInput.addEventListener('change', (evt) => {
            updateFeatures(map, features, robberyData, yearsInput.value);
          });

          yearsInput.dispatchEvent(new Event('change'));

          document.querySelector('#map-controls').removeAttribute('hidden');
        });

        // Add a marker for the location
        // var marker = new google.maps.Marker({
        //   position: location,
        //   map: map,
        //   title: 'Maceio - AL'
        // });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= GMAPS_API_KEY %>&callback=initMap">
    </script>
  </body>
</html>
