<!DOCTYPE html>
<html>
  <head>
    <title>Roubos</title>
    <style>
      #map {
        height: 500px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      async function fetchHoodJSON() {
        const response = await fetch('/hood');
        const hood = await response.json();
        return hood;
      }

      async function fetchRobberyJSON() {
        const response = await fetch('/robbery');
        const robbery = await response.json();
        return robbery;
      }

      // Initialize and display the map
      function initMap() {
        // Maceió bounds
        let selectedCityBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(-9.722334881080501, -35.818859918457036), // southwest corner
          new google.maps.LatLng(-9.46099520993466, -35.541455133300786) // northeast corner
        )

        // Set the location to display on the map
        var location = selectedCityBounds.getCenter()

        // Create a new map object centered on the location
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: location,
          mapTypeControl: false,
          streetViewControl: false,
          styles: [
            {
              "elementType": "labels",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "administrative",
              "elementType": "geometry",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "administrative.land_parcel",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "administrative.neighborhood",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "poi",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "labels.icon",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "transit",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            }
          ]
        });

        fetchHoodJSON().then(hoods => {
          hoods.features = hoods.features.filter(feature => {
            return !feature.geometry.coordinates.some(coords => {
              return coords.some(coord => {
                let point = {lat: coord[1], lng: coord[0]}
                return !selectedCityBounds.contains(point);
              })
            })
          })
          let features = map.data.addGeoJson(hoods)
          let selectedFeatureProperty = 'População 2010'
          let selectedFeaturePropertyMax = 0
          for (let feature of features) {
            selectedFeaturePropertyMax = Math.max((feature.getProperty(selectedFeatureProperty) || 0), selectedFeaturePropertyMax)
          }
          for (let feature of features) {
            feature.setProperty('density', (feature.getProperty(selectedFeatureProperty) || 0) / selectedFeaturePropertyMax)
          }
          map.data.setStyle((feature) => ({
            strokeColor: "black",
            strokeWeight: .5,
            fillColor: 'red',
            fillOpacity: (Math.tanh(feature.getProperty('density')) * .5 + .5) * .75
            // fillOpacity: Math.log(feature.getProperty('density') + 1)
          }))
        });

        fetchRobberyJSON().then(robberyData => {
          console.log(robberyData);
        });

        // Add a marker for the location
        // var marker = new google.maps.Marker({
        //   position: location,
        //   map: map,
        //   title: 'Maceio - AL'
        // });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= GMAPS_API_KEY %>&callback=initMap">
    </script>
  </body>
</html>
